* {
  font-family: Helvetica, Arial, sans-serif;
}

h2, p, h3{
  color:white;
}

body{
  padding: 10px;
  background-color: #1d1c1c;
}

input {
  color: white;
  font-size: 1.1rem;
  width: 100%;
  background-color: #9b9cad;
  border: 1px solid grey;
  border-radius: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 170px;
}